body {
   background-color: #fefaec;
}

nav, footer {
   background-color: #cb6f10;
}

nav {
   border-bottom: 5px solid #f1a250;
}

footer {
   border-top: 5px solid #f1a250;
   height: 75px;
}

h1, h2, h3, h4, h5, h6 {
   color: #637056;
}

img {
   width: 120px;
   height: 120px;
   border-radius: 50%;
   float: left;
   margin: 0 20px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav li, footer li {
   padding: 2px;
   display: inline;
}

nav a, footer a {
   padding: 6px 20px;
}

nav a:hover, footer a:hover {
   background-color: #d88731;
}

.hero {
   height: 600px;
   background: url("../images/hero.jpg") no-repeat center top;
   background-size: cover;
}

.hero-text {
   padding-top: 125px;
   width: 50%;
}

.grid-container {
   display: grid;
   grid-template-columns: 75% auto;
}

.drinks h2 {
   margin: 5px;
}

.item {
   border-top: 1px dotted #637056;
   padding-top: 10px;
   margin-bottom: 60px;
}

.small-plates {
   background-color: #d9e9ce
}

.small-plates h2 {
   margin: 5px 0;
}

.small-plates li {
   margin: 50px 15px 0 15px;
}

.small-plates li:first-child {
   margin-top: 0;
}