body {
   background-color: #fefaec;
}

nav {
   background-color: #cb6f10;
}

footer {
   background-color: #cb6f10;
}

img {
   width: 120px;
   height: 120px
}

h1 {
   color: #637056;
}

h2 {
   color: #637056;
}

.small-plates {
   background-color: #d9e9ce
}