/* Copyright & Social Footer */
footer {
	background-color: $orange;
	border-top: 5px solid lighten($orange, 20%);
	height: 75px;

	p {
		margin-bottom: 15px;
		text-align: center;
		color: #fff;
	}

	ul {
		@include list-reset();
		display: block;
		text-align: center;
	}

	li {
		display: inline-block;
	}

	i {
		padding: 2px 10px;
		color: $white
	}
}
