/* Navigation */
nav {
	background-color: $orange;
	border-bottom: 5px solid lighten($orange, 20%);
	text-align: right;
	font-family: $header-font;

	ul {
		@include list-reset();
	}

	li {
		display: inline;
		padding: 2px;
	}

	a {
	    display: inline-block;
	    padding: 6px 20px;
	    text-decoration: none;
	    font-weight: bold;
			color: $white;
			font-size: 1.5em;
	}

}
