$cream: #FEFAEC;
$orange: #cb6f10;
$light-green: #d9e9ce;
$dark-green: #637056;
$white: #ffffff;
$black: #000000;
$header-font: Montserrat, Arial, Helvetica, sans-serif;
$body-font: Neuton, "Times New Roman", Times, serif;
