body {
    background-color: #f9f7f7;
}
nav, footer {
    background-color: #364F6B;;
}

h1, h2, h3 {
    color: #637056;
}

main li:hover {
    background-color: #C1D5A4;
}

.drinks {
    background-color: #dbe2ef;
}